@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255, 250, 248;
  --foreground: 0, 0, 0;
  --primary: 76,166,254;
  --primary-foreground: 255, 255, 255;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(var(--background));
}

::-webkit-scrollbar-thumb {
  background: #fd6d3b;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e55a2a;
}

/* Smooth transitions */
* {
  @apply transition-colors duration-200;
}

/* Custom animations */
@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.bg-glassy {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

